/MyFlyingShmup/Intermediate
/MyFlyingShmup/Saved
/MyFlyingShmup/DerivedDataCache
/MyFlyingShmup/Binaries
/MyFlyingShmup/Build
/MyFlyingShmup/Source
/MyFlyingShmup/Samples

/MyFlyingShmup/Content/AbsoluteSpaceAndSciFi_VoltzSupreme
